@media (min-width: 600px) {
  .header--container {
    align-items: baseline;
  }

  .header__menu {
    flex-direction: row;
  }

  .header__menu a {
    padding-right: 20px;
  }

  .main__news--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .header--container,
  .main__content--container,
  .footer--container {
    padding: 0px 10px;
  }

  .main__sale__subsection {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  .main__news--container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer--container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }

  .footer__menu {
    order: 0;
  }

  .footer__logo {
    height: 15vh;
    margin: 0px;
  }

  .footer__newsletter {
    margin-left: 50px;
  }

  .header--container,
  .main__content--container,
  .footer--container {
    padding: 0px 20px;
  }

  .sale__subsection__text {
    top: 70%;
  }
}

@media (min-width: 1200px) {
  .main__news--container {
    grid-template-columns: repeat(4, 1fr);
  }
}
