body {
  font-family: "Yu Gothic UI", Verdana, Tahoma, sans-serif;
  font-size: 18px;
  background-image: url("/images/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #e2ded9;
}

.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
}

.header__logo {
  height: 15vh;
}

.header__menu {
  display: flex;
  flex-direction: column;
}

.header__menu a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px;
}

.header__login a {
  color: black;
  text-decoration: none;
}

.header__menu a:hover,
.header__login a:hover {
  text-decoration: underline;
}

.current {
  text-decoration: underline;
  font-weight: bold;
}

hr {
  border-top: 1px solid #bfac9b;
}

/* Main content */

.main__content--container {
  max-width: 1200px;
  margin: 50px auto 100px;
}

.main__sale {
  margin-bottom: 50px;
}

.main__sale__header {
  background-image: url("/images/sale_images/sale_header-unedited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 75vh;
  margin-bottom: 20px;
  background-position-x: center;
  background-position-y: 60%;
}

.main__sale__header h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 70px;
  text-transform: uppercase;
  margin: 0;
}

.main__sale__header p {
  text-align: center;
  color: white;
  padding: 0;
  font-size: 25px;
}

.main__sale__subsection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sale__subsection__carpets {
  background-image: url("/images/sale_images/carpets_2.jpg");
}
.sale__subsection__pillows {
  background-image: url("/images/sale_images/pillows_2.jpg");
}
.sale__subsection__carpets,
.sale__subsection__pillows {
  background-size: cover;
  background-position-x: center;
  background-position-y: 25%;
  width: 100%;
  min-height: 80vh;
  color: white;
  text-align: center;
  position: relative;
}

.sale__subsection__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 35px;
  margin: 0;
}

.main__news--container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.main__news__item {
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
}

.main__news__item img {
  max-width: 200px;
  min-height: 250px;
}

button {
  background-color: #bfac9b;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 30px;
  text-transform: uppercase;
}

button:hover {
  background-color: #e2ded9;
  font-weight: bold;
}

.main__news a {
  display: block;
  color: black;
  text-align: right;
  padding-top: 8px;
}

/* Footer */

.footer--container {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__logo {
  height: 10vh;
  margin: 40px 0px;
}

.footer__menu {
  order: -1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__menu a {
  color: black;
  text-decoration: none;
}

.footer__menu a:hover {
  text-decoration: underline;
}

.footer__newsletter {
  border: 1px solid #bfac9b;
  border-radius: 10px;
  text-align: center;
  padding: 0px 10px 20px;
}

#newsletter {
  padding: 10px 0px 10px 15px;
  margin-right: 20px;
  border: none;
}

.newsletter__btn:hover {
  border: 1px solid #bfac9b;
}

.copyright {
  text-align: center;
  font-size: 15px;
}
